<p>Edit</p>
<hr/>

<div *ngIf="action">
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <div>
            <div hidden>
                <input matInput placeholder="ActionID" formControlName="ActionID" type="number" required [value]="action.ActionID"/>
            </div>
            <div>
                <mat-form-field>
                <select matInput placeholder= "Activity" formControlName="Activity" type="text" required [value]="action.Activity">
                    <option></option>
                </select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                <select matInput placeholder= "AtempRange" formControlName="AtempRange" type="text" required [value]="action.AtempRange">
                    <option></option>
                </select>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button class="nav-btn" color="primary" type="submit">Save</button>
    </form> 
</div>