<br/>
<mat-toolbar color= "primary">
<img src="../../../assets/logo3.png" alt="Purple Rain" style="width:200px; height:200px;">
<span class="flex-filler"></span>
<button mat-button color="accent" class="nav-btn" routerLink="/location">my locations</button>
<button mat-button color="accent" class="nav-btn" routerLink="/login"> &nbsp; &nbsp; &nbsp;login &nbsp; &nbsp; &nbsp;</button>
<button mat-button color="accent" class="nav-btn"routerLink="/register">new account</button>
</mat-toolbar>
<br/>
<br/>
<br/>