h1{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    margin-left: 0px;
    text-align:center;
}
button {
    margin-right: 0.5em;
    background-color: darkorchid;
    padding: 5px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 0px;
    text-align:center;

}
form{
    font-family: cursive;
    font-size: 20px;
    text-align: left;
    margin-left: 0px;
    text-align:center;
}